@import '~normalize-scss';

@include normalize();

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  height: 100%;
}

:global(#root) {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
